            *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.page1{
    width: 100%;
    /* height: 150%; */
    
    /* text-align: center; */
    
    /* filter: contrast(-15); */
    font-family: Gotham  , -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ;
}
.nav1{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(54.97% 272.54% at 27.36% -134.72%,rgb(108, 147, 255) 0,rgb(0, 0, 0) 100%);
    color: white;
    font-family: Gotham , -apple-system, BlinkMacSystemFont;
    padding: 10px 40px;
    

}
.nav1 h5{
    font-size: 17px;
    font-weight: 450;
    line-height: 20px;
    }
.nav1 p{
    padding: 0px 15px;
    font-size: 15px;
    font-weight: 400;
} 
.nav1 a{
    color: #fff;
    text-decoration: none;
    
    box-shadow: 0 1px 0 0 white;
    transition: all ease .5s;
} 
.nav1 a:hover{
    box-shadow: 0 2px 0 0 white;
    
}

.center{
    height: 80%;
    width: 100%;
    border: 1px solid transparent;
    position: relative;
    margin-top: 45px;
    font-family: Gotham  , -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ;
    
}
.center video{

    height: 100%;
    width: 100%;
    object-fit: cover;
}
.center .overlay{
    position: absolute;
    /* position: relative; */
    top: 0;
    
}
.center .overlay .nav{
   height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 30px;
    gap: 250px;
 
}
.center .overlay .nav .left{
    
   margin-left: 20px;
}
.center .overlay .nav .center {
    height:70px;
    width: 100%; 
  display: flex;
 
  gap: 35px;
}
.center .overlay .nav .right{
    
    display: flex;
    align-items: center;
    gap: 10px;
}
.overlay .left  img{
   opacity: 50;
}
.overlay .center p{
    font-size: 14.5px;
    text-align: center;
    color:#fff;
    letter-spacing: 0px;
    font-family: Gotham  , -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ;
    }
.overlay .right i{
    font-size: 25px;
    color: #fff;
    font-weight: 100;
}   
.center .overlay .heading{
 color: #fff;
 text-align: center;
 margin-top: 40px;
}
.center .overlay .heading h1{
    font-size: 36px;
    font-weight: 500;
}
.center .overlay .heading p{
    margin-top: 15px;
    font-size: 15px;
    font-weight: 400;
}
.center .overlay .button{
    
    text-align: center;
    margin-top: 38%;
   
    
}
.center .overlay .button button{
    height: 40px;
    width: 270px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    transition: all ease 4s;
    
}
.center .overlay .button button:hover{
    background-color: #fff;
    color: black;
}
.page2{
    /* margin-top: 0px; */
    height: 120%;
    width: 100%;
    text-align: center;
    border: 1px solid transparent;
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Desktop-NA.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: contrast(-15);
   
    font-family: Gotham  , -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ;
}
.page2 h1{
    font-size: 36px;
    font-weight: 500;
   margin-top: 100px;
   color: #171a20;
    
}
.page2 p{
    font-size: 14px;
    font-weight: 500;
    color: #363e46;
    opacity: 1;
    margin: 15px 0px;
    line-height: 20px;
}
.page2 .button{
    margin-top: 34%;
}
.page2 .button #a{
   background-color: rgba(244, 244, 244, 0.8);
   color: #393c41;
   backdrop-filter: blur(8px);
}
.page2 .button button {
    margin-right: 20px;
    height: 40px;
    width: 235px;
    border: none;
    border-radius: 5px;
    font-size: 14px ;
    font-weight: 500;
    font-family: Gotham  , -apple-system,BlinkMacSystemFont,Segoe ,Roboto,Helvetica ,Arial,sans-serif ;
    background-color: rgba(23, 26, 32, 0.65);
    color: #fff;
}
.page3{
    height: 120%;
    width: 100%;
    text-align: center;
    border: 1px solid transparent;
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/h_2400,w_2880,c_fit,f_auto,q_auto:best/Homepage-Model-Y-Global-Desktop);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: contrast(-15);
   
    font-family: Gotham  , -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ;
}
.page3 h1{
    font-size: 36px;
    font-weight: 500;
   margin-top: 100px;
   color: #171a20;
    
}
.page3 p{
    font-size: 14px;
    font-weight: 500;
    color: #363e46;
    opacity: 1;
    margin: 15px 0px;
    line-height: 20px;
}
.page3 .button{
    margin-top: 34%;
}
.page3 .button #a{
   background-color: rgba(244, 244, 244, 0.8);
   color: #393c41;
   backdrop-filter: blur(8px);
}
.page3 .button button {
    margin-right: 20px;
    height: 40px;
    width: 235px;
    border: none;
    border-radius: 5px;
    font-size: 14px ;
    font-weight: 500;
    font-family: Gotham  , -apple-system,BlinkMacSystemFont,Segoe ,Roboto,Helvetica ,Arial,sans-serif ;
    background-color: rgba(23, 26, 32, 0.65);
    color: #fff;
}
.page4{
    height: 120%;
    width: 100%;
    text-align: center;
    border: 1px solid transparent;
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-S-Desktop-LHD-6.22.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: contrast(-15);
   
    font-family: Gotham  , -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ;
}
.page4 h1{
    font-size: 36px;
    font-weight: 500;
   margin-top: 100px;
   color: #171a20;
    
}
.page4 p{
    width: 125px;
    font-size: 14px;
    font-weight: 500;
    color: #363e46;
    opacity: 1;
    line-height: 20px;
    margin: 15px 570px;
    box-shadow: 0 1px 0 0 black;
    transition: all ease .5s;
}

.page4 p:hover{
    box-shadow: 0 2px 0 0 black;
    
}
.page4 .button{
    margin-top: 34%;
}
.page4 .button #a{
   background-color: rgba(244, 244, 244, 0.8);
   color: #393c41;
   backdrop-filter: blur(8px);
}
.page4 .button button {
    margin-right: 20px;
    height: 40px;
    width: 235px;
    border: none;
    border-radius: 5px;
    font-size: 14px ;
    font-weight: 500;
    font-family: Gotham  , -apple-system,BlinkMacSystemFont,Segoe ,Roboto,Helvetica ,Arial,sans-serif ;
    background-color: rgba(23, 26, 32, 0.65);
    color: #fff;
}
.page5{
    height: 120%;
    width: 100%;
    text-align: center;
    border: 1px solid transparent;
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Homepage-Model-X-Desktop-LHD);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: contrast(-15);
   
    font-family: Gotham  , -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ;
}
.page5 h1{
    font-size: 36px;
    font-weight: 500;
   margin-top: 100px;
   color: #171a20;
    
}
.page5 p{
    font-size: 14px;
    font-weight: 500;
    color: #363e46;
    opacity: 1;
    width: 125px;
    margin: 15px 570px;
    box-shadow: 0 1px 0 0 black;
    transition: all ease .5s;
    line-height: 20px;
    
    /* border-bottom: 5px;
    border-bottom-color: rgb(23, 26, 32); */
}
.page5 p:hover{
    box-shadow: 0 2px 0 0 black;
    
}
.page5 .button{
    margin-top: 34%;
}
.page5 .button #a{
   background-color: rgba(244, 244, 244, 0.8);
   color: #393c41;
   backdrop-filter: blur(8px);
}
.page5 .button button {
    margin-right: 20px;
    height: 40px;
    width: 235px;
    border: none;
    border-radius: 5px;
    font-size: 14px ;
    font-weight: 500;
    font-family: Gotham  , -apple-system,BlinkMacSystemFont,Segoe ,Roboto,Helvetica ,Arial,sans-serif ;
    background-color: rgba(23, 26, 32, 0.65);
    color: #fff;
}
.page6{
    height: 120%;
    width: 100%;
    text-align: center;
    border: 1px solid transparent;
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/425_HP_SolarPanels_D);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: contrast(-15);
   
    font-family: Gotham  , -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ;
}
.page6 h1{
    font-size: 36px;
    font-weight: 500;
   margin-top: 100px;
   color: #171a20;
    
}
.page6 p{
    width: 222px;
    font-size: 14px;
    font-weight: 500;
    color: #363e46;
    opacity: 1;
    margin: 15px 525px;
    box-shadow: 0 1px 0 0 black;
    transition: all ease .5s;
    line-height: 20px;
    
    /* border-bottom: 5px;
    border-bottom-color: rgb(23, 26, 32); */
}
.page6 p:hover{
    box-shadow: 0 2px 0 0 black;
    
}
.page6 .button{
    margin-top: 34%;
}
.page6 .button #a{
   background-color: rgba(244, 244, 244, 0.8);
   color: #393c41;
   backdrop-filter: blur(8px);
}
.page6 .button button {
    margin-right: 20px;
    height: 40px;
    width: 235px;
    border: none;
    border-radius: 5px;
    font-size: 14px ;
    font-weight: 500;
    font-family: Gotham  , -apple-system,BlinkMacSystemFont,Segoe ,Roboto,Helvetica ,Arial,sans-serif ;
    background-color: rgba(23, 26, 32, 0.65);
    color: #fff;
}
.page7{
    height: 120%;
    width: 100%;
    text-align: center;
    border: 1px solid transparent;
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Homepage-SolarRoof-Desktop-Global);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: contrast(-15);
   
    font-family: Gotham  , -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ;
}
.page7 h1{
    font-size: 36px;
    font-weight: 500;
   margin-top: 100px;
   color: #171a20;
    
}
.page7 p{
    font-size: 14px;
    font-weight: 500;
    color: #363e46;
    opacity: 1;
    margin: 15px 0px;
    line-height: 20px;
    
    /* border-bottom: 5px;
    border-bottom-color: rgb(23, 26, 32); */
}
.page7 .button{
    margin-top: 34%;
}
.page7 .button #a{
   background-color: rgba(244, 244, 244, 0.8);
   color: #393c41;
   backdrop-filter: blur(8px);
}
.page7 .button button {
    margin-right: 20px;
    height: 40px;
    width: 235px;
    border: none;
    border-radius: 5px;
    font-size: 14px ;
    font-weight: 500;
    font-family: Gotham  , -apple-system,BlinkMacSystemFont,Segoe ,Roboto,Helvetica ,Arial,sans-serif ;
    background-color: rgba(23, 26, 32, 0.65);
    color: #fff;
}
.page8{
    height: 120%;
    width: 100%;
    text-align: center;
    border: 1px solid transparent;
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Powerwall-Desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: contrast(-15);
   
    font-family: Gotham  , -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ;
}
.page8 h1{
    font-size: 36px;
    font-weight: 500;
   margin-top: 100px;
   color: #171a20;
    
}
.page8 .button{
    margin-top: 38%;
}
.page8 .button #a{
   background-color: rgba(244, 244, 244, 0.8);
   color: #393c41;
   backdrop-filter: blur(8px);
}
.page8 .button button {
    margin-right: 20px;
    height: 40px;
    width: 235px;
    border: none;
    border-radius: 5px;
    font-size: 14px ;
    font-weight: 500;
    font-family: Gotham  , -apple-system,BlinkMacSystemFont,Segoe ,Roboto,Helvetica ,Arial,sans-serif ;
    background-color: rgba(23, 26, 32, 0.65);
    color: #fff;
}
.page9{
    height: 120%;
    width: 100%;
    text-align: center;
    border: 1px solid transparent;
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Accessories-Desktop-NA-APAC.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: contrast(-15);
   
    font-family: Gotham  , -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ;
}
.page9 h1{
    font-size: 36px;
    font-weight: 500;
   margin-top: 100px;
   color: #171a20;
    
}
.page9 .button{
    margin-top: 38%;
}
.page9 .button button {
    margin-right: 20px;
    height: 40px;
    width: 235px;
    border: none;
    border-radius: 5px;
    font-size: 14px ;
    font-weight: 500;
    font-family: Gotham  , -apple-system,BlinkMacSystemFont,Segoe ,Roboto,Helvetica ,Arial,sans-serif ;
    background-color: rgba(23, 26, 32, 0.65);
    color: #fff;
}
.page9 .button #a{
   background-color: white;
   color: #393c41;
   backdrop-filter: blur(8px);
}
.footer{
    color: #fff;
    background-color: black;
    height: 70px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

}
.footer p{
    font-family: Gotham  , -apple-system,BlinkMacSystemFont,Segoe ,Roboto,Helvetica ,Arial,sans-serif ;
    font-size: 12.5px;
    font-weight: 500;
    color: #d0d1d2;
    cursor: pointer;
    letter-spacing: 0.5px;

}

